@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
/* body {
  background: #ebf0fa;
} */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
h1,
h2 {
  @apply font-bold;
}
section {
  @apply max-w-7xl mx-auto;
}
main > h2 {
  @apply mb-4 pb-2 text-base;
}
p > a {
  @apply underline;
}

/* nav styles */


/* button styles */
button {
  @apply px-1 py-3
  rounded-[30px]
    flex justify-between items-center gap-2
    text-sm;
}
button:hover {
  @apply bg-opacity-90 ;
}
@layer components {
.btn-primary {
  @apply bg-primary text-white;
}
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
}

/* form styles */
form {
  @apply  
    block 
    mx-auto 
    min-w-fit w-1/4;
}
form label {
  @apply block;
}
form input,
form textarea,
form select {
  @apply block
}
form button {
  @apply block mx-auto;
}

/* feedback styles */
.error {
  @apply border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
}

/* card styles */

/* pill styles */
.pill {
  @apply py-1 px-2 mt-3
    inline-block 
    text-xs font-semibold;
}
.pill.high {
  @apply bg-red-300 text-red-600;
}
.pill.medium {
  @apply bg-blue-300 text-blue-600;
}
.pill.low {
  @apply bg-emerald-300 text-emerald-600;
}
.card .pill {
  @apply absolute bottom-0 right-0 
    rounded-tl-md;
}


/* transition animations */
/* Initial state before the animation */
.opacity-0 {
  opacity: 0;
  transform: translateX(0);
}

/* Animations */
.animate-slide-in {
  opacity: 1 !important;
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.slide-in-from-left {
  transform: translateX(-100%);
}

.animate-slide-in.slide-in-from-left {
  transform: translateX(0);
}

.slide-in-from-right {
  transform: translateX(100%);
}

.animate-slide-in.slide-in-from-right {
  transform: translateX(0);
}
/* Carousel Css */

.slide {
  transform: perspective(1000px) rotateY(0deg) translateZ(-50px) scale(0.85);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.3;
  z-index: 0;
}

/* Styling for the previous slide */
.prevSlide {
  transform: perspective(1000px) rotateY(15deg) translateZ(-100px);
  opacity: 0.6;
  z-index: 1;
}

/* Styling for the next slide */
.nextSlide {
  transform: perspective(1000px) rotateY(-15deg) translateZ(-100px);
  opacity: 0.6;
  z-index: 1;
}

.activeSlide {
  transform: perspective(1000px) rotateY(0deg) translateZ(0px) scale(1.2);
  opacity: 1;
  z-index: 2;
}

.slick-center .activeSlide {
  animation: stackTransition 0.5s ease forwards;
}

@keyframes stackTransition {
  0% {
    transform: perspective(1000px) rotateY(15deg) translateZ(-100px) scale(0.7);
  }
  50% {
    transform: perspective(1000px) rotateY(7.5deg) translateZ(-50px) scale(0.85);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg) translateZ(0px) scale(1.1);
  }
}
